<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings>
	<add name="StringConexion" 
		 connectionString="Server=.\SQlExpress;DataBase=PuntoVentaG1;User id=sa;password=Ucr2024;TrustServerCertificate=true;"/>
</connectionStrings>
</configuration>